.NavList {
    background: lightgrey;
    padding: 0;
    margin-left: 10px;
    margin-right: 10px;
}

.ListItem {
    display: inline-block;
    list-style-type: none;
    padding: 10px;
    border-left: 1px solid white;
    border-right: 1px solid white;
}

.ListItem li {
    font-size: 16px;
    padding: 12px 12px;
}